<md-dialog aria-label="Add note for {{NoteCtrl.student.first_name}}" flex="80">
    <form name="note_form" ng-submit="NoteCtrl.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add a note for <span ng-if="!NoteCtrl.student.nickname">{{NoteCtrl.student.first_name}}</span><span ng-if="NoteCtrl.student.nickname">{{NoteCtrl.student.nickname}}</span> </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="NoteCtrl.cancel()" aria-label="cancel dialog">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-input-container>
                <label>Note</label>
                <textarea ng-required="true" name="note" ng-model="NoteCtrl.note.note"></textarea>
                <div ng-messages="note_form.note.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button type="submit">
                Save
            </md-button>
            <md-button type="button" ng-click="NoteCtrl.cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>