<md-dialog aria-label="Add a skill for {{SkillCtrl.student.first_name}}" flex="80">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add a skill for <span ng-if="!SkillCtrl.student.nickname">{{SkillCtrl.student.first_name}}</span><span ng-if="SkillCtrl.student.nickname">{{SkillCtrl.student.nickname}}</span> </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="SkillCtrl.cancel()" aria-label="cancel dialog">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <form name="skill_form">
                <md-input-container>
                    <label>Skill Name</label>
                    <input type="text" ng-required="true" ng-maxlength="255" name="skill_name" ng-model="SkillCtrl.skill.name">
                    <div ng-messages="skill_form.skill_name.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">This skill name is too long.</div>
                    </div>
                </md-input-container>
                <label>Is the student currently working on this skill?</label>
                <md-radio-group ng-model="SkillCtrl.skill.current">
                    <md-radio-button ng-value="true" class="md-primary">Yes</md-radio-button>
                    <md-radio-button ng-value="false" class="md-primary">No</md-radio-button>
                </md-radio-group>
                <md-input-container>
                    <label>Proficiency</label>
                    <md-select ng-model="SkillCtrl.skill.proficiency" ng-required="true">
                        <md-option ng-value="0">New</md-option>
                        <md-option ng-value="1">Beginner</md-option>
                        <md-option ng-value="2">Advanced</md-option>
                        <md-option ng-value="3">Out of Lines</md-option>
                    </md-select>
                    <div ng-messages="skill_form.proficiency.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Note (optional)</label>
                    <textarea name="note" ng-model="SkillCtrl.skill.note"></textarea>
                </md-input-container>
            </form>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="SkillCtrl.save()">
                Save
            </md-button>
            <md-button ng-click="SkillCtrl.cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>